/*
.___ for classes
#___ for ids

#header {
    padding-bottom: 20px;
}

#title {
    text-align: left;
    /*background: blue;
    float: left;
}

#scrollLinks {
    text-align: center;
    float: inline-end;
    /*background: red;
}

#textLeft {
    text-align: left;
    float: left;
    width: 20%;
}

#map {
    text-align: right;
    float: right;
    width: 80%;
    height: 100%;

}
*/


.col-sm-4 {
    padding: 20px;
}